.dropdown-cart {
  display: none;
  position: absolute;
  margin-top: 40rem;
  right: -3.75rem;
  background: #FFF;
  border: 1px solid #111111;
  width: 20rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  transition: 0.5s all ease;
  font-family: 'Inter', sans-serif;
}

.show-dropdown-cart {
  display: block;
  opacity: 1;
  transition: 0.5s all ease;
  cursor: default;
}

.cart-info {
  width: 100%;
  padding: 5px 0px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-info .inside-cart::before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -12px;
  right: -12px;
  background: red;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px
}

.total {
  display: flex;
}

.inside-cart {
  position: relative;
}

.inside-cart i {
  padding: 10px;
  background-color: #111111;
  border-radius: 10px;
}


/* contains all products */
.cart-products {
  width: 100%;
}


/* product example */
.cart-product {
  width: 100%;
  display: flex;
  margin-top: 5px;
  padding: 5px 0px;
}

.cart-img-product {
  width: 50%;
  padding: 3px 0px;
  background-color: #e5e5e5;
  border-radius: 10px;
}

.cart-img-product img {
  width: 100%;
  object-fit: fill;
}

.cart-info-product {
  width: 75%;
  padding: 3px 6px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.cart-info-product h4 {
  width: 100%;
  font-size: 18px;
  font-weight: 1000;
}

.cart-product-purchase {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 20px;
  color: red;
  padding: 5px 0px;
  font-weight: bold;
}

span {
  font-size: 16px;
  text-align: end;
  padding: 5px 0px;
  color: grey;
}

#checkout {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  background: red;
  outline: none;
  border: none;
  padding: 6px 0px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}