
@media (max-width: 650px) { 
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "produtosarea";
  }
  aside {
    display: none;
  }
}

@media (min-width: 650px) { 
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "produtosarea produtosarea produtosarea produtosarea";
  }
  aside {
    display: none;
  }
}
@media (min-width: 900px) { 
  .container {
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header header"
    "sidebar produtosarea produtosarea produtosarea"
  }
  
  aside {
    display: block;
  }
}