#menu-lateral {
  display: grid;
  position: sticky;
  top: 120px;
  height: 50vh;
  grid-area: sidebar;
  background-color: #E5E5E5;
  color:black;
  margin-top: 130px;
  border-radius: 1em;
}

#filtragem {
  height: 100%;
  position: relative;
  width: 100%;
}

#filtragem input {
  height: 25px;
  border: solid 1px;
  border-radius: 5px;
  padding: 12px, 20px;
  color: black;
}

.tipo-filtro{
 /* background-color: chartreuse; */
 margin-top: 20px;
}

.filtro-cor{
  display: flex;
  /* background-color: aqua; */
  height: 30px;
  margin-top: 10px; 
  
}
.cor-nome{
  /* background-color: red; */
  padding-left: 2px;
  width: 100%;
  align-self: center;
  justify-self: center;
}
