#wrapper-menu {
	display: grid;
	gap: 10px;
  min-width: 350px;
  
}
#logo {
  grid-area: menulogo;
}
#logo img {
  width: 90px;
}

#top-menu {
  grid-area: menuarea;
}
#top-menu ul {
    padding: 0px;
  list-style: none;
}
#top-menu li {
    display: inline;
}
#top-menu ul li a{
    font-size: 1.3rem;
    padding: 0px 2rem;
    color: black;
    text-decoration: none;
}
#top-menu ul li a:hover{
  
    border-bottom:1px solid black;
}

#carrinho {
  grid-area: shoppingcart;
}

#carrinho img{
    padding-top: 10px;
    width: 25px;
    padding-left: 50%;
}

#user-form {
  grid-area: form-user;
}
#user-form ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

#user-form ul li a {
    font-size: 1rem;
    padding: 0px 1rem;
    color: black;
    text-decoration: none;
}
#user-form ul li a:hover {
    border-bottom:1px solid black;
}
.mobile-menu {
  width: 50px;
  height: auto;
  grid-area: menumobile;
}
.mobile-menu i {
  font-size: 2rem;
  padding-top: 45%;
  padding-left: 10px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  #wrapper-menu {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "menumobile menulogo menuarea shoppingcart";
  } 
  #carrinho {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-area: "form-user";
  }
  #logo {
    margin-left: 40px;
    position: fixed;;
  }
  #user-form{
    display: none;
  }
  #top-menu {
    display: none;
  }
  #carrinho {
    padding-top: 15px;
    padding-right: 15px;
    position: relative;
  }
}
@media screen and (min-width: 800px) {
  #wrapper-menu {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "menumobile menulogo menuarea shoppingcart";
  } 
  #carrinho {
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    grid-area: "form-user";
  }
  .mobile-menu {
    display: none;
  }
  #user-form{
    display: block;
  }
}
@media (min-width: 900px) { 
  #wrapper-menu {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    "menulogo menuarea shoppingcart";
  }
  #logo {
    display: block;
  }
  #user-form{
    display: block;
  }
}