
#tela-formulario {
    width: 100%;
    height: 100%;
}

#cadastrar {
    margin-top: 5%;
    width: 45%;
    float: left;
    height: 350px;
}
.labelCadastrar {
    width: 50%;
    height: 20px;
    margin-left: 25%;
    margin-right: 25%;
    padding:0;
}
.inputCadastrar {
    height: 30px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding:0;
}
#botao-cadastrar {
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-right: 25%;
    padding:0;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 1px;
}

#linha {
    margin-top: 2.5%;
    margin-left: 2.5%;
    width: 8px;
    background-color: black;
    height: 70vh;
    min-height: 80%;  
    float: left;
    border-radius: 10px;
}

#entrar {
    width: 45%;
    float: left;
    height: 350px;
}
#imagem-usuario {
    height: 150px;
    text-align: center;
    margin-bottom: 5%
}
#imagem-usuario img {
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    width: 150px;
}
.labelEntrar {
    height: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    float: left;
}
.inputEntrar {
    height: 30px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    float: left;
}
#botao-entrar {
    width: 50%;
    height: 40px;
    margin-left: 25%;
    margin-right: 25%;
    padding:0;
    color: white;
    background-color: black;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 1px;
}