* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gallery {
  background:white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.gallery-cell {
  width: 28%;
  height: auto;
  margin-right: 100px;
  border-radius: 10px;
  background: #e4e4e4;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  border: 1px solid black;
  width: 30%;
}
.name {
  text-align: center;
  font-size: 30px;
}
.img-carousel{
  width: 100%;
}