footer {
    background-color: #111111;
    width: 100%;
    height: 250px;
    font-family: "Inter", sans-serif;
}
#nav ul {
    margin-top: 100px;
    margin-left: 50px;
    list-style:none;
}
#nav li { 
    display: inline; 
}
#nav ul li a {
    font-size: 25px;
    padding: 0px 30px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}