footer {
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    background: #111111;
    width: 100%;
    color: white;
    float: left;
}
#copyright {
    margin-left: 25%;
    width: 50%;
    height: 20%;
    text-align: center;
    float: left;
}