body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: black;
}
header {
    height: 100px;
    margin: 0;
    padding: 0px;
    background: #fff;
    font-family: "Inter", sans-serif;
}
#menu {
    margin-top: 0px;
    width: 100%;
    height: 130px;
    position: fixed;
    background: #fff;
}
#logo {
    width:25%;
    float: left;
}
.logo {
    padding: 5px 15px;
    width: 100px;
    float: left;
}
#user {
    margin-top: 0px;
    background: white;
    width: 100%;
    height: 20px;
    position: fixed;
}
#user ul {
    padding-top: 10px;
    height: 20px;
    margin: 0;
    float: right;
    padding-right: 5%;
    list-style:none;
}
#user li { 
    display: inline; 
}
#user ul li a {
    font-size: 15px;
    padding: 0px 5px;
    color: black;
    text-decoration: none;
}
#user ul li a:hover {
    border-bottom:1px solid black;
}
#navegacao {
    width: 75%;
    height: 40px;
    float: left;
}
#itens-menu {
    width: 75%;
    padding-top: 20px;
    float: left;
}
#itens-menu ul {
    padding: 0px;
    list-style:none;
    float: left;
}
#itens-menu ul li { 
    display: inline; 
}
#itens-menu ul li a {
    font-size: 20px;
    padding: 0px 50px;
    color: black;
    text-decoration: none;
}
#itens-menu ul li a:hover {
    border-bottom:1px solid black;
}
#carrinho {
    width: 25%;
    float: left;
}
#img-carrinho {
    padding-top: 10px;
    width: 25px;
    margin-top: 30px;
    margin-right: 30%;
    float: right;
}