body {
    font-family: 'Inter', sans-serif;
    color: black;
}
.img1 {
    width: 1600px;
    height: 900px;
    margin-top: 20px;
}
.imgtxt {
    position: absolute;
    font-size: 50px;
    font-weight: 500;
    margin-top: -450px;
    margin-left: 270px;
    color: white;
}
.img2 {
    width: 1600px;
    height: 900px;
    margin-top: 80px;
    margin-left: 143px;
}
.imgtxt2 {
    position: absolute;
    font-size: 70px;
    font-weight: 500;
    margin-top: -450px;
    margin-left: 700px;
    color: white;
}