#menu-lateral {
    width: 20%;
    height: 40vh;
    float: left;
    position: fixed;
}
#filtragem {
    width: 100%;
    height: 80%;
    position: relative;
}
.filtro {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 10%;
}
.conteudo {
    width: 70%;
    margin-left: 25%;
    margin-top: 2.5%;
}
.lista-produto {
    width: 100%;
    height: 250px;
}
.produto {
    width: 20%;
    margin-left: 4%;
    float: left;
    text-align: center;
    margin-bottom: 5%;
}
.produto-image {
    width: 100%;
    background-color: #DDDDDD;
}
.produto-nome {
    width: 100%;
}