#menu-lateral {
    margin-left: 20px;
    width: 20%;
    height: 40vh;
    float: left;
    position: fixed;
    border: 1px solid black;
}
#filtragem {
    width: 100%;
    height: 60%;
    position: relative;
}
.labelFiltro {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    text-align: center;
    float: left;
    padding-left: 1%;
}
.filtro {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
}
.filtro-select {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 10%;
    text-align-last:center;
}
#filtrar-cor {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 10px;
    text-align: center;
    float: left;
    padding-left: 1%;
}
.filtro-cor {
    width: 100%;
    margin-top: 10px
}
.filtro-checkbox {
    width: 10%;
    margin-left: 35%;
    float: left;
}
.cor-nome {
    width: 50%;
    margin-right: 25%;
}
.conteudo {
    width: 70%;
    min-height: 45vh;
    margin-left: 25%;
    margin-top: 2.5%;
    margin-bottom: 25px;
}
.lista-produto {
    width: 100%;
    height: 250px;
}
.produto {
    width: 20%;
    margin-left: 4%;
    float: left;
    text-align: center;
    margin-bottom: 5%;
}
.produto-image {
    width: 100%;
    background-color: #DDDDDD;
}
.produto-nome {
    width: 100%;
    float: left;
}
.produto-preco {
    width: 100%;
    padding-top: 5px;
    float: left;
}